.clients {
  padding: 140px 0;
  background-color: #012F34;
  background-image: url("../img/clients-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 700px) top;
}
.clients__title {
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  margin: 0;
  margin-bottom: 64px;
}
.clients__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.clients__item {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
.client-logo__link {
  display: inline-block;
  vertical-align: baseline;
}
.client-logo__img {
  display: inline-block;
  vertical-align: middle;
}
@include breakpoint-down (1451) {
  .clients {
    background-position: left -100px;
  }
}
@include breakpoint-down (955) {
  .client-logo__link {
    width: 70%;
  }
  .clients__list {
    justify-content: center;
    margin: 0;
  }
}
@include breakpoint-down (768) {
  .clients {
    padding: 100px 0;
  }
  .clients__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 50px;
  }
}
@include breakpoint-down (500) {
  .clients {
    padding: 88px 0;
    background-position: -100px -120px;
  }
  .clients__list {
    flex-direction: column;
    justify-content: center;
  }
  .clients__item {
    margin-bottom: 56px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .client-logo__link {
    width: 100%;
  }
}