.intro {
  padding: 198px 0 140px;
  background-color: #012F34;
  background-image: url("../img/intro-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 720px) 100%;
}
.intro__wrapper {
  display: flex;
  justify-content: space-between;
}
.intro__title {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  max-width: 445px;
  margin: 0;
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    position: absolute;
    left: 0;
    top: -54px;
  }
}
.inrto__list {
  @include reset-list;
  max-width: 540px;
}
.item {
  padding-left: 95px;
  margin-bottom: 32px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
  }
  &--individuals::before {
    background-image: url("../img/intro-item1.svg");
  }
  &--implement::before {
    background-image: url("../img/intro-item2.svg");
  }
  &--productivity::before {
    background-image: url("../img/intro-item3.svg");
  }

}
.item__title {
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
  margin: 0;
  margin-bottom: 16px;
}
.item__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 0;
}
@include breakpoint-down (1305) {
  .intro {
    background-position: 100% 0;
  }
}
@include breakpoint-down (850) {
  .intro {
    padding-left: 77px;
    padding-top: 132px;
    padding-bottom: 100px;
  }
  .intro__wrapper {
    flex-direction: column;
  }
  .intro__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 64px;
    &::before {
      top: -32px;
    }
  }
  .inrto__list {
    max-width: 573px;
  }
}
@include breakpoint-down (630) {
  .intro__title {
    max-width: 350px;
  }
}
@include breakpoint-down (532) {
  .intro__title {
    max-width: 300px;
  }
  .intro {
    padding-left: 4px;
    padding-top: 96px;
    padding-bottom: 64px;
  }
  .item {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    align-items: center;
    margin-bottom: 48px;
    &::before {
      position: relative;
      margin-bottom: 16px;
    }
  }
  .item__text {
    text-align: center;
  }
}
@include breakpoint-down (392) {
  .intro__title {
    max-width: 240px;
  }
}